:root {
    background: white;
}

.bodyClass{
    height:100%
}

.chat {
    background: #edd5ce;
    font-family: "Courier New", Courier, monospace;
    padding: 7px;
    margin: 8px;
    overflow-x:auto;
}

.form {
    height: 65%;
}

.msginput {
    width: 82%;
}

.formMessage{
    padding: 7px;
    margin: 2px;
}

.sendbutton {
    width: 15%;
}

#header {
    position: relative;
      z-index: 5;

      min-height: 30px;
      padding: 20px;

      color: white;

      background-color: silver;
    background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px),
    linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px);
    background-size: 58px 58px;
      background-size: 20px 20px;
      box-shadow: 0 0 5px 0 #333333;
}

.logo {
  position: absolute;
  top: 10px;
  left: 20px;
  float: left;

  margin: 0;
}

.formLogin{
    float: right;
}

#body {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 30px; /* Height of the footer */
}

.classFooter {
    position: relative;
      z-index: 5;

      min-height: 20px;
      padding: 20px;

      color: white;

      background-color: silver;
    background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px),
    linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px);
    background-size: 58px 58px;
      background-size: 20px 20px;
      box-shadow: 0 0 5px 0 #333333;
      }

.copyright{
    float: right;
    padding-top: 20px;
}

input[type="submit"]{
    border-radius: 5px;
      border: none;
      padding: 5px;
      color: #111;
      border-radius: 5px;
      font-size: 0.6em;
      font-weight: 100;
      transition: all 0.2s;
      margin: 2px;
      border-bottom: 0px solid #eee;
      cursor:pointer;
}

input[type="submit"]:active{
      transform: scaleX(0.9) translateY(4px);
}

.clearClass{
    float: left;
    margin: 2px;
}

.saveClass{
    float: right;
    margin: 2px;
}